@media screen and (min-width: 0px) and (max-width: 550px)
{

    .disparitionPetit
    {
        display: none;
    }

    p
    {
        margin: 0;
        text-align: center;
        line-height: 175%;
    }

    .texte
    {
        margin:0;
    }

    #marginLeftPHowToGoToTheMoon > p
    {
        margin-left: -55%;
    }

    h2
    {
        margin: 0;
    }

    #apollo
    {
        margin-right: 60%;
        margin: 0;
        height: 50%;
    }

    #rowApollo
    {
        flex-direction: column;
    }

    #apolloPDF
    {
        margin-left: 0;
        height:100%;
        width:100%;
        margin-top: 3%;
    }

    #apolloLink
    {
        margin-left: 6%;
        margin-top: 2%;
    }

    #marginTopSpecialLaunchRocket
    {
        margin-left: 24%;
    }

    .rowSpecialImages
    {
        margin: 0;
    }

    .rowSpecialTexteEtImage
    {
        flex-direction: column-reverse;
    }

    #moonInTheHistory
    {
        margin: 0;
    }

    #texteLunarColony
    {
        margin-top:-60%;
    }

    #texteMoonHistory
    {
        margin-top: 2%;
    }

    
    #texteMoonHistory > p
    {
        margin:0;
    }

    .imgProducts
    {
        flex-direction: column;
    }

    .imgAndPrice > img
    {
        margin-left: auto;
        margin-right: auto;
    }

    #apollo
    {
        width:100%;
    }

    body
    {
        margin: 0;
    }

    .imgRight > img
    {
        height: 50%;
    }





}